PORT=
NODE_ENV=
DB_NAME=
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=

SENDER_EMAIL=
DOMAIN=

JWT_ACCESS_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=